@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'common';
@import 'excel';
@import 'excel-header';
@import 'excel-toolbar';
@import 'excel-formula';
@import 'excel-table';


*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #888;
}

.excel {
  position: relative;
}
